DATABASE_URL="postgresql://postgres:postgres@postgres:5432/yoyostore?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=yoyostore
PORT=3000
JWT_SECRET=\your-super-secret-jwt-key\ 
PLATFORM_ADMIN_SECRET=\your-super-secret-platform-key\ 
